.img{
    width: 100%;
}
.m-card{
    margin: 2rem 5rem;
}
.mm-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
}
.shoe-Name{
    margin-left: 0.5rem;
    margin-top: 1rem;
}
.shoe-price{
    margin-left: 0.5rem !important;
}
.m-btn{
    margin: 1rem 0 0 0.3rem;
}

.p-card{
    margin: 2rem 5rem;
}

.pp-card{
    display: flex;
    justify-content: space-between;
}
.p-left{
    flex: 0.5;
}

footer{
    background: black;
    color: white;
    text-align: center;
    padding: 3rem 0;
  }

@media (max-width: 500px){
    .m-card{
        margin: 0;
    }
    .mm-card{
        display: list-item;
    }
    .mmm-card{
        margin: 2rem 0;
    }
    .pp-card{
        display: flex ;
        flex-direction: column;
        justify-content: center;
    }
    .p-card{
        margin: 0;
    }
    .video{
        margin: 0 0.5rem;
        width: 300px;
        height: 300px;
    }
    .cart{
        margin: 0 !important;
    }
    .img{
        width: 100%;
    }
    
}